/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-primary-bg);
    line-height: 1.5rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

:root {
    /* color */

    --clr-primary-bg: rgba(255, 255, 255, 1.000);
    --clr-secondary-bg: rgb(137, 133, 133);
    --clr-material-icons: rgb(96, 96, 96);
    --clr-navbar-search-icon-bg: rgb(240, 240, 240);
    --clr-navbar-icon-hover-bg: rgba(0, 0, 0, 0.1);
    --clr-navbar-icon-active-bg: rgba(0, 0, 0, 0.2);
    --clr-blue-primary-dark: rgba(6, 95, 212, 1);
    --clr-blue-primary-light: rgba(6, 95, 212, 0.1);
    /* sizes */

    --navbar-width: 3.5rem;
    --yt-logo-width: 5.625rem;
    --navbar-search-section-height: 2.45rem;
    --icon-size: 24px;
    --icon-padding: .5rem;
    --hero-section-height: calc(100vh - 56px);

}

/* ----------header---------- */

.material-icons {
    color: var(--clr-material-icons);
    padding: .5rem;
    cursor: pointer;
}

/* ----------navbar-start---------- */

.navbar {
    width: 100%;
    height: var(--navbar-width);
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

/* ----------navbar-left---------- */

.navbar-left {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.menu {
    padding: 8px;
    width: 40px;
    height: 40px;
    color: black;
}

.icon-hover:hover,
.icon-hover:active,
.icon-hover:focus {
    background-color: var(--clr-navbar-icon-hover-bg);
    border-radius: 50px;
}

.icon-hover:active {
    background-color: var(--clr-navbar-icon-active-bg);
}

.yt-icon {
    width: 120px;
    padding: 18px 14px 18px 16px;
    color: black;
}

/* ----------navbar-middle---------- */

.navbar-middle {
    flex: 2 2 auto;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    flex: 1;
    height: var(--navbar-search-section-height);
    border: 1px solid rgba(204, 204, 204, 1);
    background-color: hsl(0, 0%, 100%);
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: .5rem;
    font-size: large;
    color: rgba(0, 0, 0, .75);
}

#search-bar::placeholder {
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    font-size: large;
    color: grey;
}

.search-btn {
    height: var(--navbar-search-section-height);
    width: 4rem;
    display: flex;
    place-items: center;
    border: 1px solid rgba(204, 204, 204, 1);
    background-color: var(--clr-navbar-search-icon-bg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0px 4px;
    margin-right: 2px;
}

.search {
    padding-block: 0px;
}

.mic {
    margin-left: .5rem;
}

/* ----------navbar-right---------- */

.navbar-right {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: right;
}

.navbar-right-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more {
    padding: .71rem;
}

.signin {
    display: flex;
    flex-direction: row;
    width: 110px;
    height: var(--navbar-search-section-height);
    align-items: center;
    padding-inline: .5rem;
    background-color: var(--clr-primary-bg);
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 25px;
    color: var(--clr-blue-primary-dark);
    fill: var(--clr-blue-primary-dark);
}

.account {
    padding-inline-start: 0px;
    padding-block: .2rem;
    background-color: none;
}

.signtext {
    font-size: .9rem;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 500;
}


/* ----------navbar-end---------- */

/* ----------hero-section-starts-------- */

/* ----------sidebar starts------------- */

.hero {
    height: var(--hero-section-height);
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* -----------scrollbar-webkit----------- */
@supports selector(::-webkit-scrollbar) {
    .sidebar::-webkit-scrollbar {
        width: .5rem;
    }


    .sidebar::-webkit-scrollbar-track {
        background-color: whitesmoke;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background-color: var(--clr-secondary-bg) red;
    }
}

@supports (-moz-appearance:none) {
    .sidebar {
        border-right: 1px solid whitesmoke;
    }
}

/* -----------scrollbar-webkit----------- */


.sidebar-section {
    margin: .75rem;
    font-size: .875rem;
    font-weight: 400;
}

.sidebar-category {
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-category>.material-icons {
    padding-inline: 1rem;
}

.sidebar-category:hover {
    background-color: rgba(247, 243, 243, 0.9);
    border-radius: 50px;
}

.sidebar hr {
    color: rgba(229, 229, 229, 0.5);
    height: 1px;
}

aside {
    height: var(--hero-section-height);
    flex: 1;
}

/* ----------sidebar starts------------- */
.yt-grid {
    overflow-y: scroll;
}

.recommended {
    margin-top: 2rem;
}

.recommended h1 {
    margin-inline: 2em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem;
}

.tumbnail-container img {
    width: 100%;
    aspect-ratio: 16 9;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: .5em;
}


.video-details {
    display: flex;
    word-wrap: break-word;
    align-items: flex-start;
}

.video-profile-logo {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 25px;
    margin: .5rem;
}

.video-dec {
    display: flex;
    flex-direction: column;
}

.video-title {
    color: black;
    font-size: 0.875em;
    margin-bottom: .45em;
}

.light {
    font-size: .9rem;
    font-weight: 500;
}

.light>span {
    padding-inline: .2rem;
    line-height: 1;
}

aside hr {
    border: 2px solid rgba(181, 180, 180, 0.503);
}

/* ----------hero-section-ends-------- */


/* ---------media-query-------- */

@media screen and (max-width:480px) {

    .sidebar,
    #search-bar {
        display: none;
    }

    #mic-icon {
        display: none;
    }

    .search-btn {
        background-color: transparent;
        width: min-content;
        height: min-content;
        border: none;
        margin-left: auto;
        align-self: center;
    }

    .search {
        padding: 0;
        width: 30px;
        height: 30px;
        color: black;
        font-weight: 600;
    }

    .more {
        padding-left: 0;
    }
}

@media screen and (max-width : 1200px) {
    .sidebar {
        display: none;
    }
}